.Home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: space-evenly;
  column-gap: 50px;
  row-gap: 50px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.chips {
  display: flex;
  justify-content: space-between;
}
