.Home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: space-evenly;
  column-gap: 50px;
  row-gap: 50px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.chips {
  display: flex;
  justify-content: space-between;
}

.chip {
  border: solid #e9fae3 2px;
  color: #e9fae3;
  background-color: transparent;
  border-radius: 40px;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0 25px;
}

.chip.selected {
  background-color: #e9fae3;
  color: #231f20;
}
