.ProductPage span {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.ProductPage span img {
  margin-right: 25px;
}

.ProductPage h1 {
  margin-bottom: 0px;
}

.ProductPage .image-and-reviews {
  justify-content: space-between;
  align-items: flex-start;
}

.reviews {
  min-width: 400px;
  max-height: 500px;
  overflow: auto;
}

.reviews span {
  width: 100%;
  justify-content: space-between;
  margin: 25px 0;
}

.reviews h3 {
  text-align: center;
}

.ProductPage .reviews img {
  margin: 0 auto 25px 0;
}

hr {
  margin: 0;
  width: 100%;
}
