.ProductPage span {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.price-and-rating {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ProductPage .price-and-rating span {
  margin-top: 10px;
  margin-bottom: 0;
}

.ProductPage .price-and-rating img {
  margin: 0;
}

.ProductPage a {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.ProductPage h1 {
  margin-bottom: 0px;
}

.ProductPage .image-and-reviews {
  justify-content: space-between;
  align-items: flex-start;
}

.reviews {
  min-width: 400px;
  max-height: 500px;
  overflow: auto;
}

.reviews span {
  width: 100%;
  justify-content: space-between;
  margin: 25px 0;
}

.reviews h3 {
  text-align: center;
}

.ProductPage .reviews img {
  margin: 0 auto 25px 0;
}

.reviews .review-stars {
  display: inline;
  text-align: end;
}

hr {
  margin: 0;
  width: 100%;
}

.ProductPage .reviews .star {
  margin: 0;
}
