.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  border-radius: 20px;
  color: black;
  background-color: white;
}

#search {
  border: none;
  background: none;
}

#search:focus {
  outline: none;
}

#search-icon-container {
  padding: 6px;
  display: flex;
  align-items: center;
}
