.sidebar-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}

.Sidebar {
  color: #fff;
  background-color: #384d48;
  width: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Sidebar h1 {
  margin: 0;
}

.sidebar-dimmer {
  flex: 1;
  background-color: hsla(0, 100%, 0%, 50%);
}

.Sidebar img {
  margin-bottom: 25px;
}

.login-link {
  color: #e9fae3;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 50px 0;
}

li a {
  color: #fff;
  text-decoration: none;
}

.x-icon {
  cursor: pointer;
}
